<a href="https://colab.research.google.com/github/ArtisticWenny/datasci_1_loading/blob/main/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a spreadsheet of data of top 250 IMDb movies with the highest ratings.

In [ ]:
import pandas as pd

xlsx_file_paths = ['/content/drive/MyDrive/imdbmovie.xlsx']

df = pd.read_excel('/content/drive/MyDrive/imdbmovie.xlsx')

print(df.head(10))

  budget   Profit
0    218        0
1   1100        0
2   4500        0
3   7000        0
4   9000        0
5  10000        0
6  14000        0
7  15000        0
8  23000        0
9  25000        0

This is a data spread sheet of United States Super markets profit margins, and products

In [ ]:
import pandas as pd

xlsx_file_paths = ['/content/drive/MyDrive/Supplies.xlsx']

df = pd.read_excel('/content/drive/MyDrive/Supplies.xlsx')

print(df.head(10))

   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14
5   24847         Medium      0.05        3.28           4.20           14
6   24848         Medium      0.05        3.58           1.63           14
7   18181       Critical      0.00        4.42           4.99           15
8   20925         Medium      0.01       35.94           6.66           15

  Customer Segment Product Category Product Sub-Category Product Container  \
0        Corporate  Office Supplies  Pens & Art Supplies          Wrap Bag
1      Home Office        Furniture   Chairs & Chairmats        Jumbo Drum
2      Home Office        Furniture   Office Furnishings        Small Pack
3   Small Business        Furniture   Office Furnishings         Small Box
4   Small Business  Office Supplies  Pens & Art Supplies          Wrap Bag
5   Small Business  Office Supplies  Pens & Art Supplies          Wrap Bag
6   Small Business  Office Supplies         Rubber Bands          Wrap Bag
7   Small Business  Office Supplies            Envelopes         Small Box
8   Small Business  Office Supplies            Envelopes         Small Box

   ...   Region  State or Province         City Postal Code Order Date  \
0  ...     West         Washington    Anacortes       98221 2015-01-07
1  ...     West         California  San Gabriel       91776 2015-06-13
2  ...     East         New Jersey      Roselle        7203 2015-02-15
3  ...  Central          Minnesota   Prior Lake       55372 2015-05-12
4  ...  Central          Minnesota   Prior Lake       55372 2015-05-12
5  ...  Central          Minnesota   Prior Lake       55372 2015-05-12
6  ...  Central          Minnesota   Prior Lake       55372 2015-05-12
7  ...     East           New York    Smithtown       11787 2015-04-08
8  ...     East           New York    Smithtown       11787 2015-05-28

   Ship Date     Profit Quantity ordered new    Sales  Order ID
0 2015-01-08     4.5600                    4    13.01     88522
1 2015-06-15  4390.3665                   12  6362.85     90193
2 2015-02-17   -53.8096                   22   211.15     90192
3 2015-05-14   803.4705                   16  1164.45     86838
4 2015-05-13   -24.0300                    7    22.23     86838
5 2015-05-13   -37.0300                    4    13.99     86838
6 2015-05-13    -0.7100                    4    14.26     86838
7 2015-04-09   -59.8200                    7    33.47     86837
8 2015-05-28   261.8757                   10   379.53     86839

[9 rows x 23 columns]

This is a spreadsheet of salary ranges and flight purchases

In [ ]:
import pandas as pd

xlsx_file_paths = ['/content/drive/MyDrive/Flightdata.xlsx']

df = pd.read_excel('/content/drive/MyDrive/Flightdata.xlsx')

print(df.head(10))

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   61000       Yes
5   France   35   58000       Yes
6    Spain   35   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No

This is a data spreadsheet of airlines travelers should avoid that have had crashes in the past

In [ ]:
import pandas as pd

csv_file_path = ['/content/drive/MyDrive/AirlineSafety - Sheet1.csv']

df = pd.read_csv('/content/drive/MyDrive/AirlineSafety - Sheet1.csv')

print(df.head(10))

                 airline  avail_seat_km_per_week  incidents_85_99  \
0             Aer Lingus               320906734                2
1              Aeroflot*              1197672318               76
2  Aerolineas Argentinas               385803648                6
3            Aeromexico*               596871813                3
4             Air Canada              1865253802                2
5             Air France              3004002661               14
6             Air India*               869253552                2
7       Air New Zealand*               710174817                3
8       Alaska Airlines*               965346773                5

   fatal_accidents_85_99  fatalities_85_99  incidents_00_14  \
0                      0                 0                0
1                     14               128                6
2                      0                 0                1
3                      1                64                5
4                      0                 0                2
5                      4                79                6
6                      1               329                4
7                      0                 0                5
8                      0                 0                5

   fatal_accidents_00_14  fatalities_00_14
0                      0                 0
1                      1                88
2                      0                 0
3                      0                 0
4                      0                 0
5                      2               337
6                      1               158
7                      1                 7
8                      1                88

This is a spreadsheet of world wide COVID-19 daily report for 01/01/2021

In [ ]:
import pandas as pd

csv_file_path = ['/content/drive/MyDrive/01-01-2021.csv']

df = pd.read_csv('/content/drive/MyDrive/01-01-2021.csv')

print(df.head(10))

   FIPS Admin2                Province_State       Country_Region  \
0   NaN    NaN                           NaN          Afghanistan
1   NaN    NaN                           NaN              Albania
2   NaN    NaN                           NaN              Algeria
3   NaN    NaN                           NaN              Andorra
4   NaN    NaN                           NaN               Angola
5   NaN    NaN                           NaN  Antigua and Barbuda
6   NaN    NaN                           NaN            Argentina
7   NaN    NaN                           NaN              Armenia
8   NaN    NaN  Australian Capital Territory            Australia
9   NaN    NaN               New South Wales            Australia

           Last_Update       Lat       Long_  Confirmed  Deaths  Recovered  \
0  2021-01-02 05:22:33  33.93911   67.709953      52513    2201      41727
1  2021-01-02 05:22:33  41.15330   20.168300      58316    1181      33634
2  2021-01-02 05:22:33  28.03390    1.659600      99897    2762      67395
3  2021-01-02 05:22:33  42.50630    1.521800       8117      84       7463
4  2021-01-02 05:22:33 -11.20270   17.873900      17568     405      11146
5  2021-01-02 05:22:33  17.06080  -61.796400        159       5        148
6  2021-01-02 05:22:33 -38.41610  -63.616700    1629594   43319    1426676
7  2021-01-02 05:22:33  40.06910   45.038200     159738    2828     143355
8  2021-01-02 05:22:33 -35.47350  149.012400        118       3        114
9  2021-01-02 05:22:33 -33.86880  151.209300       4947      54          0

   Active                             Combined_Key  Incident_Rate  \
0    8585                              Afghanistan     134.896578
1   23501                                  Albania    2026.409062
2   29740                                  Algeria     227.809861
3     570                                  Andorra   10505.403482
4    6017                                   Angola      53.452981
5       6                      Antigua and Barbuda     162.364186
6  159599                                Argentina    3605.633332
7   13555                                  Armenia    5390.664389
8       1  Australian Capital Territory, Australia      27.563653
9    4893               New South Wales, Australia      60.938655

   Case_Fatality_Ratio
0             4.191343
1             2.025173
2             2.764848
3             1.034865
4             2.305328
5             3.144654
6             2.658269
7             1.770399
8             2.542373
9             1.091571

In [ ]:
import pandas as pd

json_file_path = ['/content/drive/MyDrive/json3.json']

df = pd.read_json('/content/drive/MyDrive/json3.json')

print(df.head(10))

                                        serviceBusNamespaces
messaging  [{'suffix': 'messaging', 'skuName': 'Standard'...
relay           [{'suffix': 'relay', 'skuName': 'Standard'}]

In [ ]:
import pandas as pd

json_file_path = ['/content/drive/MyDrive/json.json']

df = pd.read_json('/content/drive/MyDrive/json.json')

print(df.head(10))

                                                response
count                                                  6
items  [{'id': 7, 'owner_id': 1, 'text': '', 'date': ...
pages                                                 []
users  {'id': 1, 'first_name': 'Леонид', 'last_name':...

In [ ]:
import pandas as pd

json_file_path = ['/content/drive/MyDrive/test.json']

df = pd.read_json('/content/drive/MyDrive/test.json')

print(df.head(10))

                                                   glossary
GlossDiv  {'title': 'S', 'GlossList': {'GlossEntry': {'I...
title                                      example glossary

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive